.tb{border-collapse: collapse;margin: 20px 0px;width: 100%}
.tb tr:hover{background:#e8e8e8}
.tb tr td{padding: 1px;border: 1px solid #ccc;text-align: center;color:#000;height: 30px}
.pp{font-size: 14px}
.bt{clear:both }
.left-ringt{display: grid;grid-template-columns: repeat(auto-fill, minmax(358px, 1fr));gap: 5px;line-height: 50px}
.ringt1{margin-left: 10px}
.title1{font-size: 28px;color:#ccc;font-weight: bold;}
.title2{font-size: 48px;color:#124f9d;font-weight: bold;}
.title3{font-size: 28px;color:#000;font-weight: bold;border-bottom: 1px solid #000;}
.title4{font-size: 14px;color:#ccc;line-height: 35px;}
.title5{line-height: 38px}
.sm{text-indent: 2em;margin: 10px 0px;padding: 20px;background: #f3fcfc;font-size: 16px;line-height: 30px}
.mx{font-size: 16px}
.bt-teft{color:#124f9d;font-size: 24px;padding-left:10px ;font-weight: bold;border-left:3px solid #124f9d;}
.bt-right{color:#ccc;font-size: 18px;padding:0px 10px ;border-right:3px solid #124f9d;}
.an{background: red;color: #fff;padding: 10px;width: 138px;text-align: center;border-radius: 5px;line-height: 25px;float: left;margin-right:10px }
.bh{background: #2487cf}
